functions-framework==3.8.3
flask==3.0.3
yt-dlp==2024.10.22
aws-lambda-powertools==3.4.1
gunicorn==23.0.0
werkzeug==3.0.6
pytube==15.0.0
requests==2.32.3
urllib3==1.26.20
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
mutagen==1.47.0
pycryptodomex==3.23.0
websockets==13.1
Jinja2==3.1.6
itsdangerous==2.2.0
blinker==1.8.2
click==8.1.8
MarkupSafe==2.1.5
packaging==25.0
watchdog==6.0.0
deprecation==2.1.0
cloudevents==1.12.0